@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,340;1,340&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.icons {
  color: #fff;
  margin-right: 15px;
}
